.box-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center; 
    flex-wrap: wrap;
    font-family: "Anton", sans-serif;
    align-items: flex-start;
    border-bottom: 1px solid black;
  }
.box {
    display: flex;
    flex: 0 0 10%;
    aspect-ratio: auto 1 / 1;
    background-color: white;
    
    margin: auto;
    margin-top: 5px;
    text-align: center;
    /* vertical-align: middle; */
    /* padding: 1em; */
    justify-content: center;
    align-items: center;
    /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 0;
    font-size: 6vw ;
}

#id_123 {
    background-color: red;
}

#id_456 {
    background-color: green;
}

#id_7 {
    background-color: blueviolet;
}

#id_ace {
    background-color: cornflowerblue;
}

#id_bdfm {
    background-color: orange;
}

#id_nqrw {
    background-color: gold;
}

#id_jz {
    background-color: saddlebrown;
}

#id_l {
    background-color: lightgray;
}
#id_s {
    background-color: grey;
}

#id_t {
    background-color: turquoise;
    opacity: 60%;
}

#body {
    font-size: 3vw;
}


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h3 {
    font-family: "Anton", sans-serif;
}

p {
    font-family: "Anton", sans-serif;
}
